snippet script
<script">
  $0
</script>
endsnippet

snippet dc
<div class='$1'>
	$0
</div>
endsnippet
snippet di
<div id='$1'>
	$0
</div>
endsnippet
snippet dci
<div class='$1' id='$2'>
	$0
</div>
endsnippet
snippet c
<!-- $0 -->
endsnippet
# Angular
snippet ngt
<$1 $0></$1>
endsnippet

snippet ngtr
{{ '${1}' | translate }}
endsnippet

snippet tit
title="{{ '${1}' | translate }}"
endsnippet
